spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://localhost:5432/smartpay_auth
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "health,info"

security:
  jwt:
    secret: "c21hcnRwYXktc3VwZXItc2VjcmV0LWtleS0xMjM0NTY3ODk="
    expiration: 3600000
