spring:
  application:
    name: invoice-service

  datasource:
    url: jdbc:postgresql://localhost:5432/smartpay_auth
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8086

logging:
  level:
    com.smartpay.invoice: DEBUG