spring:
  application:
    name: analytics-service

  datasource:
    url: jdbc:postgresql://localhost:5432/smartpay_auth
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8084

logging:
  level:
    com.smartpay.analytics: DEBUG

security:
  jwt:
    secret: "c21hcnRwYXktc3VwZXItc2VjcmV0LWtleS0xMjM0NTY3ODk="
    expiration: 3600000
